CLOUDINARY_CLOUD_NAME=r2fk1fws
CLOUDINARY_API_KEY=261342954374627
CLOUDINARY_API_SECRET=EZ5rbv8r5J3iZUbwpZdgJHGQMu4
DATABASE_URL="postgresql://neondb_owner:npg_MRYqnl6DZ8je@ep-silent-fog-atol30b7-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"